/ConverterPictorgrammToString/nbproject/private/
/ConverterPictorgrammToString/dist/
/ConverterPictorgrammToString/build/
/JavaFX_PictogramToString/nbproject/private/
/JavaFX_PictogramToString/build/
/JavaFX_PictogramToString/dist/